body {
    margin: 0;
    background: #ECFFFF;
    font-family: 'Calibri', sans-serif;
    font-size: 30px;
    color: #000000;
    padding: 0;
}
body.large-text {
    font-size: 30px; 
}

div {
    margin-right: 40px;
    margin-left: 40px; 
}

.photo {
    flex: 0 0 auto;
    margin-left: 20px;
}

img {
    max-width: 400px;
    height: auto;
}

hr { /* COLOR */
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 40px;
    margin-right: 40px; */
    border: none; 
    height: 1px; /* Width of lines */
    background-color: #000000; /* Color of lines */
}

p {
    font-size: 30px;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}
h4 {
    font-size: 30px;
}

.spaced-br {
    display: block;
    margin-bottom: 20px;
}

ul.bullet-list {
    padding-left: 20px; /* Changes space between  margin and bullet points */
    margin-top: 0; /* Reduces top margin  */
    margin-bottom: 0; /* Reduces bottom margin  */
    font-size: 30px;
}

.linkedin-link {
    color: #0077B5; 
    text-decoration: none; 
    font-weight: bold; 
}

.linkedin-link:hover {
    text-decoration: underline;
}
