body {
    margin: 0;
    background: #ECFFFF;
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
    color: #000000;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
}

.about-me {
    flex: 1;
}

.photo {
    flex: 0 0 auto;
    margin-left: 20px;
}

img {
    max-width: 200px;
    height: auto;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    height: 1px;
    background-color: #000000;
}

h2 {
    font-size: 50px;
}

.spaced-br {
    display: block;
    margin-bottom: 20px;
}

ul.bullet-list {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}