body { 
    /* Background + WebPage */
    margin: 0;
    background: #ECFFFF;
    text-align: center;
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: left;
    padding: 0;
}

div {
    margin-right: 40px;
    margin-left: 40px; 
}

hr { /* COLOR */
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 40px;
    margin-right: 40px; */
    border: none; 
    height: 1px; /* Width of lines */
    background-color: #000000; /* Color of lines */
}

h2 {
    font-size: 40; 
}

.spaced-br {
    display: block;
    margin-bottom: 20px; /* Changes bottom spacing */
}

ul.bullet-list {
    padding-left: 20px; /* Changes space between  margin and bullet points */
    margin-top: 0; /* Reduces top margin  */
    margin-bottom: 0; /* Reduces bottom margin  */
}

img.profile-photo {
    float: right;
    max-width: 5%;
    height: auto;
    margin: 20px;
}